# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\開放平台\final_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
